
<nav>
  <ul>
    <li><h5>Network.ly</h5></li>
    <li><button><a href="/">Log Out</a></button></li>
  </ul>
</nav>

<div class="container">
  <div class="welcome">
    <h1>Welcome Back, <%= session[:first_name] %>!</h1>
  </end>

  <div class="contacts_list">
    <button class="view_button"> View Your Contacts </button>
    <span class="all_contacts">
      <h4>All Contacts: </h4>
      <ul>
        <% @contacts.each do |contact| %>

        <li>
          <a href="/contact_info/<%= contact[:api_name] %>"><%= contact[:name] %></a>
        </li>
        <% end %>
      </ul>
    </span>
  </end>
<div class="tracker_stats">
  <span class="github">
    Login with GitHub!
    <a href="<%= @github_auth_url %>"><img src="/images/octcat.png" alt="" class="github"></a>
    <!-- <p> You have  followers. </p> -->
  </span>

  <span class="dribbble">
    Login with Dribbble!
    <a href="<%= @dribbble_auth_url %>"><img src="/images/dribbble.png" alt="" class="dribbble"></a>
    <!-- <p> You have <%= @dribbble_user_info["followers_count"] %> followers. </p> -->
  </span>
</div>

</end>


